site: Patrick McDavid
url: "http://patrickmcdavid.com"
title: Patrick McDavid
description: I'm a technology leader in Colorado speaking about serverless computing, team building, devops, and leadership development.
author: Patrick McDavid

collections:
  pages:
    output: true
    permalink: /:name/
  posts:
    output: true
    permalink: /:slug/

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  
sass:
  style: compressed

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-assets

paginate: 6
paginate_path: "/page:num/"
excerpt_separator: <!--more-->

assets:
  compression: true
  plugins:
    img:
      optim:
        {}
  precompile:
    - '**/*.jpg'
    - '**/*.jpeg'
    - '**/*.JPG'
    - '**/*.JPEG'
    - '**/*.png'
    - '**/*.PNG'
    - '**/*.gif'
    - '**/*.GIF'
    - '**/*.svg'