---
layout: default
title: Technology CTO and software engineer in Colorado
description: Patrick McDavid's blog about software engineering, game design, and technology leadership from Colorado.
featured_image: me_coffee.jpg
---

<section class="blog single">

	<div class="wrap">

		{% for post in paginator.posts %}

		<article class="blog-post">

			<div class="blog-post__header">
				<h2 class="blog-post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<p class="blog-post__subtitle">{{ post.date | date_to_long_string }}</p>
			</div>

			{% if post.featured_image %}
			<a href="{{ post.url }}" class="blog-post__image">
			{% if forloop.first %}
				{% picture {{ post.featured_image }} alt="{{ post.title }}" fetchpriority="high" %}
			{% else %}
				{% picture {{ post.featured_image }} alt="{{ post.title }}" %}
			{% endif %}
			</a>		
			{% endif %}
			<div class="blog-post__content">
				<p>{{ post.excerpt }}</p>
				<p><a href="{{ post.url }}" class="button">Read {{ post.title }}</a>
			</div>

		</article>

		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<nav class="pagination">

	{% if paginator.previous_page %}
	<div class="pagination__prev">
		<a href="{{ paginator.previous_page_path }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
	</div>
	{% endif %}
	{% if paginator.next_page %}
	<div class="pagination__next">
		<a href="{{ paginator.next_page_path }}" class="button button--large"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
	{% endif %}

</nav>

{% endif %}