<ul class="socials">
	{% for url in site.data.settings.social_settings %}
	{% if url[1] != '' %}
	<li class="socials__item">
		<a href="{{ url[1] }}" target="_blank" class="socials__item__link" title="{{ url[0] | remove: '_url' | replace: '-', ' ' | capitalize }}">
			<i class="fab fa-{{ url[0] | replace: 'facebook', 'facebook-f' | remove: '_url' }}" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}
	{% endfor %}

	<li class="socials__item">
		<a href="https://mastodon.social/@ehippy" target="_blank" class="socials__item__link" title="Mastodon" rel="me">
			<i class="fab fa-mastodon" aria-hidden="true"></i>
		</a>
	</li>
	
	{% if site.data.settings.theme_settings.enable_dark_mode and site.data.settings.theme_settings.show_theme_toggle %}
	<li class="socials__item">
		<a href="#" class="theme-toggle socials__item__link" id="theme-toggle" aria-label="Toggle dark mode" title="Toggle dark mode">
			<i class="theme-icon theme-icon-moon fas fa-moon" aria-hidden="true"></i>
			<i class="theme-icon theme-icon-sun fas fa-sun" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}
</ul>