name: Lighthouse CI

on:
  workflow_run:
    workflows: ["Deploy Jekyll site to S3"]
    types:
      - completed

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Download site artifact
        uses: actions/download-artifact@v4
        with:
          name: site_content
          path: ./_site
          github-token: ${{ github.token }}
          run-id: ${{ github.event.workflow_run.id }}
      
      - name: Run Lighthouse CI
        uses: treosh/lighthouse-ci-action@v10
        with:
          uploadArtifacts: true
          temporaryPublicStorage: true
